 /* პირველი პარაგრაფი */
    p:first-child {
      font-size: 14px; /* პატარა */
    }

    /* მეორე პარაგრაფი */
    p:nth-child(2) {
      font-size: 18px; /* საშუალო */
    }

    /* მესამე პარაგრაფი */
    p:nth-child(3) {
      font-size: 22px; /* უფრო დიდი */
    }

    /* მეოთხე პარაგრაფი */
    p:nth-child(4) {
      font-size: 28px; /* ყველაზე დიდი */
      font-weight: bold; /* გამუქებული */
    }