    /* დიდი DIV */
    .big-box {
      width: 400px;               /* სიგანე */
      height: 300px;              /* სიმაღლე */
      background: lightgray;      /* ფონური ფერი */
      padding: 20px;              /* შიგნითი დაშორება */
    /* Padding ნიშნავს, რომ შიგნით ჩასმული პატარა div 20px-ით მოშორდება
         დიდი div-ის ყველა საზღვარს (ზედა, ქვედა, მარცხენა, მარჯვენა) */
    }

    /* პატარა DIV */
    .small-box {
    width: 100px;
    height: 100px;
    background: blue;
    /* ეს div არ ეკარება პირდაპირ დიდ div-ის საზღვარს,
         რადგან padding აძლევს შიგნით დაცილებას */
    }